@import './Vars.scss';

.redes__container {
    background-color: $redes-color;
    width: 100%;
    height: 200px;

    .redes__logo {
        width: 70px;
        margin: 0 20px;
    }

    .redes__texto {
        color: $menu-color;
        font-size: 30px;
        margin-right: 20px;
    }
}